<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.alibaba.sdk.android">
  <uses-sdk android:minSdkVersion="9"/>
  <application> 
    <!-- 通道保持服务（幽灵进程自动保活该服务） -->  
    <service android:exported="true" android:name="com.alibaba.sdk.android.push.ChannelService" android:process=":channel"> 
      <intent-filter> 
        <action android:name="com.taobao.accs.intent.action.SERVICE"/> 
      </intent-filter>  
      <intent-filter> 
        <action android:name="org.agoo.android.intent.action.PING_V4"/>  
        <category android:name="taobao"/> 
      </intent-filter> 
    </service>  
    <!-- 消息接收服务 -->  
    <service android:exported="false" android:name="com.alibaba.sdk.android.push.MsgService"> 
      <intent-filter> 
        <action android:name="com.taobao.accs.intent.action.RECEIVE"/> 
      </intent-filter>  
      <intent-filter> 
        <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION"/> 
      </intent-filter> 
    </service>  
    <!-- 连接心跳保持监听器 -->  
    <receiver android:name="anet.channel.heartbeat.HeartbeatManager$Receiver"> 
      <intent-filter> 
        <action android:name="anetwork.channel.intent.action.COMMAND"/> 
      </intent-filter> 
    </receiver>

    <activity android:configChanges="keyboardHidden|orientation"
              android:name="com.alibaba.sdk.android.feedback.windvane.CustomHybirdActivity"
              android:screenOrientation="portrait"
              android:theme="@style/ali_feedback_contentoverlay"/>

        <activity android:name="com.alibaba.sdk.android.webview.BaseWebViewActivity"/>
        <activity android:name="com.alibaba.sdk.android.webview.feedback.FeedbackActivity" android:theme="@style/feedback_title">
        </activity>
        <activity android:name="com.alibaba.sdk.android.webview.feedback.SendFeedbackActivity" android:theme="@style/feedback_title">
        </activity>
        <receiver android:exported="false" android:name="com.alibaba.sdk.android.hotpatch.HotPatchBroadcastReceiver" android:process=":hotpatch">
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.hotpatch.action.HOT_PATCH"/>
            </intent-filter>
        </receiver>
    </application>  
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>  
  <uses-permission android:name="android.permission.INTERNET"/>  
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
  <uses-permission android:name="android.permission.WAKE_LOCK"/>  
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>  
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>  
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>  
  <uses-permission android:name="android.permission.RESTART_PACKAGES"/>  
  <uses-permission android:name="android.permission.GET_TASKS"/>  
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>  
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>
