<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anly.githubapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GithubApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_github"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.module.main.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.module.main.IntroduceActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.module.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
        </activity>
        <activity android:name=".ui.module.account.LoginActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity android:name=".ui.module.repo.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".ui.module.repo.RepoListActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.module.repo.RepoDetailActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>