<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anly.githubapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- ali yun push -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".GithubApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_github"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.module.main.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.module.main.IntroduceActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.module.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
        </activity>
        <activity android:name=".ui.module.account.LoginActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".ui.module.account.ProfileActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.module.repo.SearchActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/MaterialTheme.Light.DarkToolbar">
        </activity>

        <activity android:name=".ui.module.repo.RepoListActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.module.repo.StarredRepoListActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.module.repo.RepoDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <!-- ali yun push -->
        <!-- 通道保持服务（幽灵进程自动保活该服务） -->
        <service android:exported="true" android:name="com.alibaba.sdk.android.push.ChannelService" android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4"/>
                <category android:name="taobao"/>
            </intent-filter>
        </service>
        <!-- 消息接收服务 -->
        <service android:exported="false" android:name="com.alibaba.sdk.android.push.MsgService">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION"/>
            </intent-filter>
        </service>
        <!-- 连接心跳保持监听器 -->
        <receiver android:name="anet.channel.heartbeat.HeartbeatManager$Receiver">
            <intent-filter>
                <action android:name="anetwork.channel.intent.action.COMMAND"/>
            </intent-filter>
        </receiver>

        <!--消息接收监听器 com.alibaba.sdk.android.push.MessageReceiver -->
        <receiver android:name=".compz.receiver.PushMessageReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.alibaba.sdk.android.webview.BaseWebViewActivity"/>
        <activity android:name="com.alibaba.sdk.android.webview.feedback.FeedbackActivity" android:theme="@style/feedback_title">
        </activity>
        <activity android:name="com.alibaba.sdk.android.webview.feedback.SendFeedbackActivity" android:theme="@style/feedback_title">
        </activity>
        <receiver android:exported="false" android:name="com.alibaba.sdk.android.hotpatch.HotPatchBroadcastReceiver" android:process=":hotpatch">
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.hotpatch.action.HOT_PATCH"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>